.OtpAuth {
 
    width: 50px !important;
    height: calc(1.5em + 1rem + 2px) !important;
    padding: 0.5rem 1rem !important;
    border-radius: 0.4rem !important; // Note: SCSS allows this shorthand
    font-size: 1.01562rem !important;
    text-align: center !important;
    margin-top: 20px !important;
    margin-right: 20px !important;
    margin-bottom: 20px !important;

    border: 1px solid #ced4da !important;
    text-transform: uppercase !important;
    
  
    flex-direction: row;
  }
